@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    background: url(cafe.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

footer {
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#282828;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p, h1 {
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    width: 40%;
    padding: 8px;
}

.menu {
    width: calc(100% - 4em);
    height: 3em;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2em;
    background-color: #282828;
}

.menu_item, a {
    margin-right: 1em;
    color: white;
}

.cafe {
    width: calc(100% - 4em);
    height: 2.5em;
    position: absolute;
    text-align: left;
}

form {
    display: flex;
    width: 100vw;
    height: calc(100vh - 10em);
    justify-content: center;
    align-items: center;
    direction: column;
}

input {
    width: 45%;
    height: 70%;
    padding: 1em;
    margin: 1.5em;
    color:gold;
    background: white;
}

button {
    padding: 1em;
    margin: 1.5em;
    color:gold;
    background: white;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu_item {
    margin-right: 1em;
    display: flex;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: black;
}

.inner {
    padding: 1em 0 0 0;
    width: 60%;
    height: auto;
}

@media (max-width: 650px) {
    .menu {
        display: none;
    }

    .menu_item{
        color: black;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        background: white;
        transform: translateX(-100%);
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}
